# binaries
*.o
*.so
*.a

# temporary files
*~

# it's site-specific symlink
3rd-party/armadillo
3rd-party/blas
3rd-party/boost
3rd-party/lapack
3rd-party/urbi
3rd-party/urbi_d
3rd-party/libav
3rd-party/opencv
3rd-party/ffmpeg

