[submodule "3rd-party/rapidjson/rapidjson"]
	path = 3rd-party/rapidjson/rapidjson
	url = https://github.com/Kanma/rapidjson.git
[submodule "3rd-party/armadillo"]
	path = 3rd-party/armadillo
	url = https://github.com/XCopterStudio/armadillo.git
[submodule "3rd-party/vrep-remote"]
	path = 3rd-party/vrep-remote
	url = https://github.com/XCopterStudio/vrep-remote.git
