body { 
    background-image: url("../image/first_aid_kit.png"); 
    padding-bottom: 50px;
}

.hero-unit {
    border: solid darkgrey 1px;
    box-shadow: 0 4px 4px -1px gray;
}

.container-bottom {
    margin: 0px;
}

#bottom-toolbar {
    height: 50px;
}

#top-panel {
    padding: 20px 20px;
    border-bottom: solid gray 1px;
    box-shadow: 0 4px 2px -2px gray;
    background-color: whitesmoke;
    z-index: 2;
}

#status-text, #status-led {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

#logo { margin-right: 20px; }

.inline-block { display: inline-block; }

.vertical-middle { vertical-align: middle; }

.inline-middle { display: inline-block; vertical-align: middle; }

.heading {
    margin-top: 0px;
}

/*** GRIDSTER AND WIDGETS ***/
.widget { 
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
    overflow: auto;
    list-style-type: none;
    background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    text-align: center;
}

.widget-line { 
    font-size: 120%; 
    line-height: 1.5em; 
    height:100%; 
    width:100%; 
    text-align: center; 
}

.widget-gauge {
    width: 100%;
    height: 80%;
}

.widget-chart-container {
    width: 100%;
	height: 80%;
	padding: 0px 15px 15px 15px;
}

.widget-chart {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.settings {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    filter: alpha(opacity=20);
    opacity: .2;
}

.settings:hover, .settings:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.gridster { 
    margin: auto 50px;;
    height: 100%;
}

/*
.gridster li {
    list-style-type: none;
    background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    text-align: center;
}
*/

/*** SIDEPANELs ***/
.sidepanel {
    margin: 10px auto;
    position: absolute;
    z-index: 1001;
}

.sidepanel i { margin: 8px 0px 8px -5px; }
.sidepanel li > a { color: black; }
.sidepanel li > a > h3 { display: inline; }

.sidepanel-left { left: 0px; }
.sidepanel-left li > a > h3 { margin-left: 20px; }

.sidepanel-right { right: 0px; }
.sidepanel-right li > a > h3 { margin-right: 20px; }

.menu-item { background-color: whitesmoke; }

/*** DFG ***/
.DFG {
    overflow: auto;
    height: 540px;
}

#flow-graph-toolbox .drag_ {
    cursor: move;
}

/*** DROPDOWN SUBMENU ***/
.dropdown-menu .sub-menu-left {
    left: 100%;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    margin-bottom: -2px;
    margin-right: 0px;
}

.sub-menu {
    position: relative;
}

.dropdown-menu li:hover .sub-menu-left {
    visibility: visible;
    display: block;
}

.left-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: middle;
    width: 0;
}

.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: middle;
    width: 0;
}

/*** WAIT VIEW ***/
.wait-container {
    display: inline-block;
    opacity: 0;
    width: 0;
    float: none;
    position:absolute;
    background-color: black;
    left:0;
    top:0;
    z-index:999;
}

.wait-control {
    position: relative;
}

.wait-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
    width:100%;
}

.wait-text {
    text-align: center;
}

.wait-active>.wait-container {
    cursor: progress;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

/*** FLASH ***/
#flash-messages {
    float: right; 
    position: fixed; 
    top: 5px; 
    right: 5px; 
    z-index: 999; 
    opacity: 0.75;
}

.flash-message {
    cursor: pointer;
}